.content-calendar {
  &__excerpt {
    font-size: var(--fs-big);
    font-weight: bold;
    line-height: 1.4;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__date {
    margin-bottom: var(--space);
  }

  &__share {
    margin-top: var(--space-l);
  }

  &__author,
  &__excerpt,
  &__image {
    margin-bottom: var(--space-l);
  }
}
