.button {
  cursor: pointer;
  font-weight: 700;
  padding: 0.5em 1em;
  position: relative;
  color: var(--c-p);
  background-color: currentColor;
  display: flex;
  align-items: center;

  &__icon {
    &--left {
      margin-right: 0.4em;
    }

    &--right {
      margin-left: 0.4em;
    }
  }

  &--ghost {
    border: 1px solid currentColor;
    background-color: transparent;

    .button__content {
      color: currentColor;
    }
  }

  &--round {
    border-radius: 5rem;
  }

  transition: background-color 200ms ease-in-out;

  &:hover {
    //background-color: var(--c-hellgrau);
  }

  &__content {
    position: relative;
    z-index: 1;
    color: #fff;
  }
}
