.about-navigation {
  display: flex;
  justify-content: center;

  &__item {
    color: var(--c-p);
    font-size: var(--fs-small);

    & + .about-navigation__item {
      margin-left: var(--space);
    }
  }
}
