.about {
  &__controls,
  &__navigation {
    margin-top: var(--space-xl) !important;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-l);
  }

  &__logo {
    width: 66%;
    padding-right: var(--space-l);
  }

  &__description {
    & > * + * {
      margin-top: 0.5em;
    }
  }
}

[data-layout='desktop'] .about__button {
  display: none;
}
