.email-signup {
  &__content {
    & > * + * {
      margin-top: 0.5em;
    }
  }

  &__form {
    margin-top: var(--space);
  }

  &__notification {
    margin-top: var(--space-xl);
  }

  &__disclaimer {
    margin-top: var(--space);
    font-size: var(--fs-xsmall);
  }
}
