.gutenberg-content {
  & > * {
    & + * {
      margin-top: var(--space);
    }

    & + h2 {
      margin-top: var(--space-l);
    }
  }

  .wp-block-image {
    .aligncenter {
      text-align: center;

      img {
        margin: 0 auto;
      }
    }
  }

  .wp-block-table {
    width: 100%;
    overflow-x: auto;

    table {
      width: 100%;
      border-spacing: 0;
      min-width: 600px;
    }

    th, td {
      text-align: left;
      padding: 0.3em 0.6em;
    }

    td {
      border: 0 solid var(--c-border-dark);
      border-right-width: 1px;
      border-top-width: 1px;

      &:first-child {
        border-left-width: 1px;
      }
    }

    tr:last-child td {
      border-bottom-width: 1px;
    }
  }

  .wp-block-table, .wp-block-image {
    figcaption {
      width: 100%;
      font-style: italic;
      font-size: var(--fs-small);
      margin-top: var(--space-s);
      opacity: 0.75;
    }
  }

  code {
    background-color: #2d2d2d;
    border-radius: 3px;
    color: #fff;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
  }

  .wp-block-separator {
    border-color: transparent;
    position: relative;
    margin: var(--space-xl) 0;

    &:after {
      background-color: currentColor;
      height: 1px;
      opacity: 0.5;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      display: block;
      transform: translateX(0) translateY(-50%);
    }
  }
}
