html {
  //font-size: 2vmin;
}

body {
  font-family: Affogato, sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.6;
  color: var(--c-p);
}

b {
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: Affogato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.8em;
}

h3 {
  font-size: 1.3em;
}

/* button reset */
button {
  background-color: transparent;
  border: none;
  padding: 0;
}
