body {
  font-family: FrutigerLTW01, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 90%;
  line-height: 1.6;
  color: var(--c-p);
}

b {
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.1;
  font-size: 1.8em;
}

h3 {
  font-size: 1.3em;
}

/* button reset */
button {
  background-color: transparent;
  border: none;
  padding: 0;
}
