:root {
  --s-near: 10s;
  --s-mid: calc(var(--s-near) * 2);
  --s-far: calc(var(--s-near) * 3);
  --ease-out-quad: cubic-bezier(.25, .46, .450, .94);
}

.snow {
  &__level {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: falling linear infinite both;
    transform: translate3D(0, -100%, 0);

    &--near {
      animation-duration: var(--s-near);
      background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png');
      background-size: contain;

      & + .snow__level--alt {
        animation-delay: calc(var(--s-near) / 2);
      }
    }

    &--mid {
      animation-duration: var(--s-mid);
      background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png');
      background-size: contain;

      & + .snow__level--alt {
        animation-delay: calc(var(--s-mid) / 2);
      }
    }

    &--far {
      animation-duration: var(--s-far);
      background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png');
      background-size: contain;

      & + .snow__level--alt {
        animation-delay: calc(var(--s-far) / 2);
      }
    }
  }

  /*
   &--near {
     animation-duration: $s--near;
     background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png');
     background-size: contain;

         & + .snow--alt {
           animation-delay: ($s--near / 2);
         }
  }
*/
}

@keyframes falling {
  0% {
    transform: translate3D(-7.5%, -100%, 0);
  }

  100% {
    transform: translate3D(7.5%, 100%, 0);
  }
}
