.content {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  will-change: opacity;

  &__bkg {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.5;
  }

  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.5);
    max-height: calc(100vh - (var(--space-l) * 2));
    width: 900px;
    max-width: calc(100vw - (var(--space-l) * 2));
    background-color: #fff;
    padding: var(--space-l);
    transition: opacity 0.2s ease-in;
    will-change: transform;
  }

  &--visible {
    opacity: 1;

    .content__inner {
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }
}
