.root {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.rootActive {
    .number {
        background-color: var(--c-primary);
        border-color: transparent;
        color: var(--c-white);
    }
}

.number {
    background-color: transparent;
    border: 2px dashed var(--c-border);
    color: var(--c-p);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.title {
    font-weight: bold;
    color: var(--c-p);
}

.wrapper {
}

.wrapperInner {
}
