.app {
  max-width: 500px;
  margin: 0 auto;
  position: relative;

  &__screens {
    transition: opacity 400ms;
    will-change: opacity;
    height: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 5px;
    z-index: 10;
    background-color: var(--c-bekb-primary);
  }

  display: flex;
  flex-direction: column;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;

  &__card {
    height: 100%;
  }

  &__konto {
    padding: var(--gap-m) var(--gap-l);
  }
}

.explanation-button {
  position: absolute;
  right: 1.8rem;
  border: none;
  top: 2rem;
  width: 1.5rem;
  z-index: 9999;
}

img.explanation-icon {
  max-width: 100px;
  margin: 15px auto 5px auto;
}

.explanation {
  max-width: 100%;
  margin-top: -40px;
  width: 400px;
  padding: 10px;
}
