.calendar-day-wrapper, .calendar-day {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.calendar-day-wrapper {
  &__snow {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(-60%);

    &--1 {
      transform: translateY(-55%) translateX(-30%) scale(0.5);
    }

    &--2 {
      transform: translateY(-61%) translateX(2%) scale(1.1);
    }

    &--3 {
      transform: translateY(-61%) translateX(2%) scale(0.8);
    }

    &--4 {
      transform: translateY(-45%) translateX(-30%) scale(0.5);
    }

    &--5 {
      transform: translateY(-18%) scale(1.05) rotate(4deg);
    }

    &--6 {
      transform: translateY(-50%) scale(1.1);
    }

    &--7 {
    }

    &--8 {
      transform: translateY(-45%);
    }

    &--9 {
      transform: translateY(-50%) scale(1.1);
    }

    &--10 {
      transform: translateY(-50%) translateX(20%) scale(0.7) rotate(5deg);
    }

    &--11 {
      transform: translateY(-35%);
    }

    &--12 {
      transform: translateY(-45%) scale(0.8);
    }

    &--13 {
      transform: translateY(-30%) rotate(2deg);
    }

    &--14 {
      transform: translateY(-20%);
    }

    &--15 {
      transform: translateY(-50%) scale(0.9);
    }

    &--16 {
      transform: translateY(-50%) translateX(-40%) scale(0.4) rotate(-10deg);
    }

    &--17 {
      transform: translateY(-50%) scale(0.8) translateX(20%);
    }

    &--18 {
      transform: translateY(-50%);
    }

    &--19 {
      transform: translateY(-40%) scale(0.6) translateX(-45%) rotate(-8deg);
    }

    &--20 {
      transform: translateY(-45%) scale(0.4) translateX(85%) rotate(15deg);
    }

    &--21 {
      transform: translateY(-45%);
    }

    &--22 {
      transform: translateY(-61%) translateX(2%) scale(0.8);
    }

    &--23 {
      transform: translateY(-60%) scale(0.7);
    }


    &--24 {
      transform: translateY(-50%) scale(0.8);
    }
  }
}

.calendar-day {
  background-color: transparent;
  border: 2px dashed var(--c-border);
  color: var(--c-p);
  text-decoration: none;
  padding: var(--space-grid);
  font-weight: 900;
  font-size: 1.6rem;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
  line-height: 1;

  &--active {
    background-color: var(--c-primary);
    border-color: transparent;
    color: var(--c-white);
  }
}
