.calendar {
  position: relative;

  &__header {
    padding-bottom: var(--space-xl);
  }

  &__calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: var(--space-s);

    @media (orientation: portrait) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: var(--space-xs);
    }

    &__item {
      position: relative;
    }
  }

  &__item {
    &--24 {
      grid-column: span 2;
      @media (orientation: portrait) {
        grid-column: span 1;
      }
    }
  }

  &__button-overlay {
    cursor: pointer;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    text-indent: -9999px;

  }
}

[data-layout='desktop'] {
  .calendar__button-overlay {
    display: none;
  }
}
