.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: opacity 200ms ease-in-out;
  opacity: 1;

  &__logo {
    width: 12rem;
    max-width: 50%;
  }

  &__view {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: var(--space-xl);
  }

  &__view-button {
    &--active {
    }

    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }


    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

[data-menu='open'] .calendar-header {
  opacity: 0.1;
}

[data-layout='desktop'] {
  .calendar-header__logo, .calendar-header__button {
    display: none;
  }
}


