.calendar-day {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  border: 2px dashed var(--c-inactive);
  color: var(--c-p);
  text-decoration: none;
  padding: var(--space-grid);
  font-weight: 900;
  font-size: 1.6rem;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
  line-height: 1;

  &--active {
    background-color: var(--c-primary);
    border-color: transparent;
    color: var(--c-white);
  }
}
