.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: opacity 200ms ease-in-out;
  opacity: 1;

  &__logo {
    width: 12rem;
    max-width: 50%;
  }
}

[data-menu='open'] .calendar-header {
  opacity: 0.1;
}

[data-layout='desktop'] .calendar-header {
  display: none;
}
